.form-style {
  background-color: greenyellow;
  width: 100%;
  height: auto;
  padding-top: 10%;
  font-family: 'MedievalSharp', cursive;
  padding: 2em;
}
.form-style h1 {
  margin-bottom: 2em;
}

.img-form {
  /* max-height: 0%;
  max-width: 100%; */
  width: 300px;
  height: 300px;
}
/* 
.card-on {
  display: flex;
  border: red 2px solid;
}
.card-off {
  display: flex;
} */
