.search-display {
  background-color: #997a8d;
  margin-bottom: 120px;
  display: inline;
}

.search-img img {
  width: 200px;
  height: 300px;
  margin-top: 20px;
  padding: 2em;
}
.search-img {
  justify-content: space-evenly;
}

.search-display h1 {
  padding: 1em;
}

.search-display p {
  margin: 2em;
}
